//color
$body-bg: #f5f5f5 !default;
$row-bg: #fff !default;
$text-color: #333;

//font
$font-size-base: 14px !default;
$font-size-large: 15px !default;
$font-size-small: 13px !default;
$line-height-base: 1.428571429 !default;

//button
$btn-default-color: #97cc00 !default;
$btn-success-color: #336161 !default;

//progress
$progressHeight: 3px;
$progressBg: #ebebeb !default;
$progressColor: #97cc00 !default;
